dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
TAGS
TAGS

src/Numeric/.#Expr.hs

src/Numeric/flycheck_Expr.hs

src/Numeric/Expr/.#Wrappers.hs
